.doctor-info-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  .profile-card-container {
    .form-control.info {
      border: none;
      padding: 0 10px 0 10px;
    }
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    .profile-card-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 1300px;

      .profile-card {
        border: 1px solid black;
        margin: 10px;
        padding-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 0 3px #888888;
        height: auto;
        .title {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-bottom: 20px;
          .btn-submit {
            border: 3px solid green;
            background-color: rgb(0, 255, 0);
            box-shadow: 0 0 0 3px #008b25;
            margin-left: auto;
            border-radius: 10px;
            &:hover {
              opacity: 0.8;
              color: #fff;
            }
          }
        }
        .info {
          .avatar-image {
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-items: center;
            //  background-image: url("../../../assets/medical-facility/benhvien.jpg");
            background-size: cover;
            height: 100px;
            width: 100px;
            cursor: pointer;
            border: 4px solid #fff;
            box-shadow: 0 0 0 5px black, 0 0 0 10px white, 0 0 0 15px black;
            margin: 10px 20px;
          }
          .detail-info {
            border: none;
            outline: none;
            .name {
              font-size: 20px;
            }
            .id {
            }
            .btn-change-password {
              border: 2px solid gray;
              background-color: white;
              border-radius: 5px;
            }
            label {
              cursor: pointer;
              /* Style as you please, it will become the visible UI component. */
            }
            #upload-photo {
              opacity: 0;
              position: absolute;
              z-index: -1;
            }
            .btn-change-image {
              border: 2px solid gray;
              background-color: white;
              border-radius: 5px;
              margin: 0 0 0 5px;
              span {
                margin: 1px;
                color: black;
              }
            }
          }
        }
      }
    }
  }
  .contact-card-container {
    display: flex;
    flex-direction: column;

    .form-control.info {
      border: none;
      padding: 0 10px 0 10px;
    }
    display: flex;
    flex-direction: row;

    align-items: center;
    .contact-card-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 1300px;

      .contact-card {
        border: 1px solid black;
        margin: 10px;
        padding-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 0 3px #888888;
        height: auto;
        .title {
          display: flex;
          flex-direction: column;
          padding-bottom: 20px;

          .btn-submit {
            margin-left: auto;
          }
        }
        .info {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          .icon {
            align-self: center;
            justify-content: center;
          }
          .detail-info {
            border: none;
            outline: none;

            .name {
              justify-content: flex-start;
              font-size: 20px;
            }
            .id {
              justify-content: flex-start;
            }
            .btn-change-password {
              border: 2px solid gray;
              background-color: white;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
  .chart-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    .form-control.info {
      border: none;
      padding: 0 10px 0 10px;
    }
    display: flex;
    flex-direction: row;

    align-items: center;
    .chart-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 1300px;

      .chart {
        border: 1px solid black;
        margin: 10px;
        padding-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 0 3px #888888;
        height: auto;
        display: flex;
        flex-direction: row;
        .title {
          padding-bottom: 20px;
          display: flex;
          span {
            margin-right: auto;
          }
        }

        .quanlity-chart {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .chart-picture {
          }
        }
      }
    }
  }
}
div._loading_overlay_wrapper {
  ._loading_overlay_overlay {
    z-index: 1000000;
    position: fixed;
  }
}
