.change-modal-container {
  .change-pw-modal-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .change-pw-modal-header {
      .header-left {
        font-size: 14px;
        font-weight: 600;
        color: #666;
        text-transform: uppercase;
      }
      .header-right {
        float: right;
        cursor: pointer;
        padding-right: 3px;
      }
    }
  }
}
