.home-header-container {
  height: 60px;

  width: 100%;
  padding: 0 20px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    .left-content {
      width: 25%;

      display: flex;
      align-items: center;

      i {
        font-size: 25px;
        color: gray;
        cursor: pointer;
      }
      .header-logo {
        background: url("../../assets/logo.png") center center no-repeat;
        background-size: 250px;
        height: 100%;
        width: 100%;
        cursor: pointer;
      }
      .dropdown-toggle::after {
        display: none;
      }

      .icon {
        display: flex;
        flex-direction: row;
        .fb {
          padding: 10px 10px;
        }
        .mail {
          padding: 10px 10px;
        }
      }
    }
    .center-content {
      width: 50%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      .child-content {
        cursor: pointer;
        .subs-title {
          font-weight: 400;
          font-size: 12px;
        }
      }
    }
    .right-content {
      width: 25%;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      .support {
        i {
          font-size: 15px;
          margin-right: 5px;
        }
        padding-right: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .profile {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        .dropdown-toggle::after {
          display: none;
        }
        .image {
          background-size: cover;
          background-image: url("../../assets/medical-facility/benhvien.jpg");
          height: 40px;
          width: 40px;
          border: 1px solid black;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
        }
      }
      .login {
        i {
          font-size: 15px;
          margin-right: 5px;
        }
        .login-label {
          text-transform: uppercase;
        }
        padding-right: 50px;
        display: flex;
        gap: 5px;
        align-items: center;
        cursor: pointer;
      }
      .language-vi {
        cursor: pointer;
        opacity: 0.3;
        &.active {
          opacity: 1;
          font-weight: 200;
          span {
            color: orange;
          }
        }
        &:hover {
          opacity: 0.8;
        }
      }
      .language-en {
        margin: 0 10px;
        cursor: pointer;
        opacity: 0.3;
        &.active {
          opacity: 1;
          font-weight: 200;
          span {
            color: blue;
          }
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
.home-header-banner {
  background-image: url("../../assets/background.jpg");

  height: 485px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .content-up {
    background-color: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.1)
    );

    padding-top: 15px;
    height: 65%;
    .title1 {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      margin-bottom: 5px;
      color: black;
      padding-top: 30px;
    }
    .title2 {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      margin-bottom: 15px;
      color: black;
    }
    .search {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 10px;
      border-radius: 25px;
      background: #f7d800;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      i {
        margin: 0 5px;
      }
      input {
        height: 30px;
        width: 360px;
        background: transparent;
        border: none;
        outline: none;
      }
    }
  }
  .content-down {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 10px;
    .options {
      text-align: center;
      display: flex;
      justify-content: center;
      gap: 50px;
      .option-child {
        //padding: 10px;
        width: 120px;
        text-align: center;
        margin: 0 auto;

        .icon-child {
          background: white;
          width: 40px;
          height: 40px;
          margin: 0 auto;
          padding: 10px;
          text-align: center;
          border-radius: 50%;
          i: {
            color: #49bce2;
            font-size: 20px;
          }
        }
      }
      .text-child {
        font-size: 17px;
        font-weight: 700;
        &:hover {
          color: #49bce2;
        }
        cursor: pointer;
      }
    }
  }
}
