// reset slick slider css
.slick-prev {
  // position: relative !important;
  left: -10 !important;
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;
  background: #f5f5f5 !important;
  border: 2px solid #ddd !important;
  &:hover {
    background: #eaeaea !important;
  }
}
.slick-next {
  right: -10 !important;
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;
  background: #f5f5f5 !important;
  border: 2px solid #ddd !important;
  &:hover {
    background: #eaeaea !important;
  }
}
.slick-disabled {
  display: none !important;
}
.slick-prev:before,
.slick-next:before {
  font-family: FontAwesome !important;
  color: red !important;
}
.section-share {
  &.section-specialty {
    background: #f5f5f5;
  }
  &.section-outstanding-doctor {
  }
  &.section-about {
    height: 500px !important;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
  }

  .section-body {
    .section-customize {
      padding: 5px;
      cursor: pointer;
      .bg-image {
        height: 150px;
        width: 278px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #eee;
        &.section-specialty {
          border: 1px solid black;
          box-shadow: 5px 5px #888888;
          border-radius: 5px;
          //background-image: url("../../assets/specialty/demo.jpg");
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
        }
        &.section-medical-facility {
          border: 1px solid black;
          box-shadow: 5px 5px #888888;
          border-radius: 5px;
          //background-image: url("../../assets/medical-facility/benhvien.jpg");
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
        }
        &.section-outstanding-doctor {
          //background-image: url("../../assets/outstanding-doctor/doctor.jpg");
          border: 1px solid black;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
        &.section-handbook {
          background-image: url("../../assets/handbook/handbook.png");
        }
      }
    }
  }
}
.section-share {
  height: 300px;

  .section-container {
    margin: 0 175px;
    display: flex;
    flex-direction: column;
    .section-header {
      height: 60px;
      margin-top: 40px;

      .title-section {
        font-weight: 600;
        font-size: 22px;
      }
      .btn-section {
        float: right;
        padding: 10px 15px;
        border: none;
        display: block;
        outline: none;
        background: #ebebeb;
        color: black;
        cursor: pointer;
        text-transform: uppercase;
        &:hover {
          color: #fff;
          background: #f7d800;
        }
      }
    }
  }
}
.section-outstanding-doctor {
  .outer-bg {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-bottom: 10px;
  }
  .specialty {
    font-style: italic;
  }
}
.home-footer {
  text-align: center;
  padding-top: 8px;
  a {
    text-decoration: unset;
  }
}
.section-about {
  padding: 0 175px;
  .section-about-header {
    padding: 20px 10px;
    font-size: 22px;
    font-weight: 600;
  }
  .section-about-content {
    display: flex;
    gap: 15px;
    width: 100%;
    .content-left {
      width: 60%;
    }
    .content-right {
      width: 40%;
      p {
        text-align: justify;
        font-style: italic;
        // padding-top: 15px;
      }
    }
  }
}
